---
pagination:
  data: services
  size: 1
  alias: service
permalink: "uslugi/{{ service.slug }}.html"
layout: service.njk
---

<!-- DEBUG: pathPrefix={{ pathPrefix }}, global.pathPrefix={{ global.pathPrefix }} -->

{# The rest of the service page is handled by the layout, which uses the 'service' variable #} 